<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="vendor/autoload.php" 
    checkForUnintentionallyCoveredCode="true"
    colors="true">

    <testsuite name="osmi-survey-graph">
        <directory>tests</directory>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" 
            target="build/coverage" 
            charset="UTF-8" 
            yui="true" 
            highlight="true" 
            lowUpperBound="40"
            highLowerBound="70" />
        <log type="testdox-html" target="build/coverage/log/testdox.html" />
    </logging>

</phpunit>
